@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

body {
  margin: 0;
  padding: 0;
  font-family: 'Caveat Brush', cursive;
}

.navbar-collapse.collapse {
    display: none!important;
}
